/* Your styles go here */
body{
    background-image: url(/src/images/);
    background-size: cover;
    height: 100%;
    background-color: rgb(169, 157, 204);
}
.low{
    border-radius: 100%;
transform: scale(1);
display: flex;
}
header{
    background-color: rgba(94, 54, 133, 0.788);
    border-radius: 1em;
    border-color: aliceblue;
    border-style: double;
    padding: 15px;
    text-align: center;
    color: aliceblue;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;

}
article{
    background-color: beige;
}














/*when needed to BLUR
    filter: blur(6px);
    transform:;